* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas-holder {
    height: 100dvh;
    width: 100vw;
    position: relative;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}